.btn {
  font-family: $ff-open-sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: $color-default-white;

  display: inline-flex;
  padding: 12px 24px;

  background-color: $color-razzmatazz;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
