.btn {
  font-family: $ff-open-sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: $color-default-white;

  display: inline-flex;
  padding: 12px 24px;

  background-color: $color-razzmatazz;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color $trans-default, color $trans-default, outline $trans-default, opacity $trans-default;

  &--disabled {
    opacity: 0.6;
  }

  @include hover {
    background-color: $color-crimson;
  }

  &:active {
    background-color: $color-crimson;
    color: $color-brink-pink;
  }

  &:focus-visible {
    outline: 1px solid $color-default-white;
    background-color: $color-crimson;
    outline-offset: -1px;
  }
}
