.motivation {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity $trans-default, visibility $trans-default;

  padding-right: 36px;
  background: url("../img/svg/icon-triangle.svg") no-repeat 100% top / 36px auto;
}

.motivation__text {
  @include font-values(700, 14px, 1.5, $color-default-white);
  background-color: $color-coral;
  display: flex;
  align-items: center;
  padding: 4px 4px 5px 17px;
  border-radius: 3px 0 0 3px;
}
