.room {
  display: flex;
  justify-content: center;
  position: relative;

  &:not(.is-reserved) {
    @include hover {
      .room__motivation {
        display: flex;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
  }

  &.is-reserved {
    .room__motivation--visible {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    .room__wrapper {
      &::before {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    .room__title-link {
      pointer-events: none;
    }
  }
}

.room__wrapper {
  width: 372px;
  min-height: 372px;
  padding: 24px;
  padding-bottom: 22px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transition: box-shadow $trans-default;
  transform: translateZ(0);

  @include vp-1279 {
    width: 336px;
    min-height: 420px;
    padding-bottom: 24px;
  }

  @include vp-767 {
    width: 288px;
    min-height: 347px;
    padding: 21px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-default-white, 40%);
    border-radius: 12px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity $trans-default, visibility $trans-default;
  }

  @include hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  }
}

.room__content-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr minmax(73px, auto);

  position: relative;

  @include vp-1279 {
    grid-template-rows: 1fr minmax(136px, auto);
  }

  @include vp-767 {
    grid-template-rows: 1fr minmax(128px, auto);
  }
}

.room__description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;

  padding-top: 35px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba($color-default-white, 20%);
  overflow-y: auto;
}

.room__title-link {
  align-self: start;

  margin-bottom: 10px;
  position: relative;
  transition: all $trans-default;

  @media (hover: hover) {
    &:hover:not(:active) {
      .room__title {
        animation: gradientAnimation $trans-150 forwards;
        background-image: linear-gradient($color-default-white 50%, $color-default-white 50%);
      }
    }
  }

  &:active {
    .room__title {
      color: rgba($color-default-white, 50%);
      animation: gradientAnimationReverse $trans-150 forwards;
      background-image: linear-gradient(rgba($color-default-white, 0%) 50%, rgba($color-default-white, 0%) 50%);
    }
  }

  &:focus-visible {
    outline: none;

    .room__title {
      animation: gradientAnimation 0.2s ease;
      background-image: linear-gradient($color-default-white 50%, $color-default-white 50%);
    }
  }
}

.room__title {
  @include font-values(700, 24px, 1.33, $color-default-white);
  margin: 0;
  display: inline;
  background-image: linear-gradient(rgba($color-default-white, 0%) 50%, rgba($color-default-white, 0%) 50%);
  background-size: 1px 1px;
  background-position: 0 88%;
  background-repeat: repeat-x;
  transition: background-image $trans-default, color $trans-default;

  position: relative;
  z-index: 2;

  @include vp-767 {
    font-size: 20px;
    line-height: 1.3;
  }
}

.room__description {
  @include font-values(400, 16px, 1.5, $color-default-white);
  font-family: $ff-open-sans;
  margin: 0;
  overflow-y: auto;

  @include vp-767 {
    font-size: 14px;
  }
}

.room__price-container {
  @include font-values(700, 19px, 1, $color-default-white);
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr minmax(10px, 55.5%);
  grid-template-rows: 1fr auto;
  column-gap: 5px;
  position: relative;

  @include vp-1279 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
  }

  @include vp-767 {
    font-size: 17px;
  }
}

.room__price-text {
  @include font-values(700, 16px, 1.5, $color-default-white);
  font-family: $ff-open-sans;
  grid-area: 1 / 1 / 2 / 2;
  align-self: end;

  @include vp-1279 {
    grid-area: 1 / 1 / 2 / -1;
  }

  @include vp-767 {
    font-size: 14px;
    margin-bottom: 2px;
  }
}

.room__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  line-height: 1.3;
  max-width: 100%;

  @include vp-1279 {
    grid-area: 2 / 1 / 3 / -1;
  }

  @include vp-767 {
    column-gap: 5px;
  }
}

.room__price {
  @include font-values(700, 24px, 1.3, $color-wild-watermelon);
  word-break: break-word;

  @include vp-767 {
    font-size: 20px;
  }
}

.room__sign {
  @include font-values(400, 23px, 1, $color-nobel);

  @include vp-767 {
    font-size: 20px;
  }
}

.room__button {
  justify-content: center;

  grid-area: 1 / 2 / 3 / -1;
  align-self: end;
  justify-self: end;
  max-width: 100%;

  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;

  @include vp-1279 {
    grid-area: 3 / 1 / 4 / -1;
    width: 100%;
    margin-bottom: 0;
    margin-top: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    padding-top: 8px;
    margin-top: 20px;
  }

  &.is-pressed {
    opacity: 0.6;
  }
}

.room__info-wrapper {
  @include font-values(400, 14px, 1.5, $color-default-white);
  font-family: $ff-open-sans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $color-vulcan;
  padding: 12px 24px;
  margin: 0;
  z-index: 10;

  position: absolute;
  bottom: -22px;
  left: -24px;
  right: -24px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity $trans-default, visibility $trans-default;

  @include vp-1279 {
    bottom: -24px;
  }

  @include vp-767 {
    bottom: -21px;
    left: -21px;
    right: -21px;
  }
}

.room__info {
  overflow-y: auto;
}

.is-reserved {
  .room__info-wrapper {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.room__info-link {
  color: $color-wild-watermelon;
  text-decoration: underline solid 1px rgba($color-wild-watermelon, 0%);
  transition: text-decoration $trans-default, color $trans-default;

  @media (hover: hover) {
    &:hover:not(:active) {
      text-decoration: underline solid 1px $color-wild-watermelon;
    }
  }

  &:active {
    text-decoration: underline solid 1px rgba($color-wild-watermelon, 0%);
    color: $color-illusion;
  }

  &:focus-visible {
    outline: none;
    text-decoration: underline solid 1px $color-wild-watermelon;
  }
}

.room__motivation {
  position: absolute;
  top: 0;
  left: 0;

  &--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.room__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: $color-st-tropaz;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: $color-linear-gradient-secondary;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
