.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }

  // my custom for project rooms and prices
  &--centred {
    justify-content: center;

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $color-linear-gradient, url("../img/svg/background-overlay.svg") no-repeat 53.5% 50% / cover;
      z-index: -1;

      @include vp-1279 {
        background: $color-linear-gradient, url("../img/svg/background-overlay-tablet.svg") no-repeat center / cover;
      }

      @include vp-767 {
        background: $color-linear-gradient, url("../img/svg/background-overlay-mobile.svg") no-repeat center / cover;
      }
    }

    main {
      flex-grow: 0;
    }
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-transition {
  /* stylelint-disable-next-line */
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
