@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

// Desktop first

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

// Other

@mixin font-values($weight: 400, $size: 16px, $height: 1, $color: $color-default-black) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
