// Colors

$color-razzmatazz:                  #f91155;
$color-wild-watermelon:             #ff4b77;
$color-crimson:                     #d8003f;
$color-illusion:                    #ff97b0;
$color-brink-pink:                  #f9637c;
$color-vulcan:                      #3c3e43;
$color-coral:                       #ff7647;
$color-st-tropaz:                   #2d507c;
$color-nobel:                       #999999;

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;

// Gradient

$color-linear-gradient:               linear-gradient(180deg, rgba(222, 237, 255, 0.6) 0%, rgba(166, 204, 250, 0.5) 100%);
$color-linear-gradient-secondary:     linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0a2240 100%);

// Typography
// ---------------------------------

$fz-default:                        16px;
$ff-roboto:                         "Roboto", "Arial", sans-serif;
$ff-open-sans:                      "Open Sans", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$trans-150:                         0.15s $tf-default;

// Keyframes

@keyframes gradientAnimation {
  0% {
    background-image: linear-gradient(rgba($color-default-white, 0%) 50%, rgba($color-default-white, 0%) 50%);
  }

  10% {
    background-image: linear-gradient(rgba($color-default-white, 10%) 50%, rgba($color-default-white, 10%) 50%);
  }

  20% {
    background-image: linear-gradient(rgba($color-default-white, 20%) 50%, rgba($color-default-white, 20%) 50%);
  }

  30% {
    background-image: linear-gradient(rgba($color-default-white, 30%) 50%, rgba($color-default-white, 30%) 50%);
  }

  40% {
    background-image: linear-gradient(rgba($color-default-white, 40%) 50%, rgba($color-default-white, 40%) 50%);
  }

  50% {
    background-image: linear-gradient(rgba($color-default-white, 50%) 50%, rgba($color-default-white, 50%) 50%);
  }

  60% {
    background-image: linear-gradient(rgba($color-default-white, 60%) 50%, rgba($color-default-white, 60%) 50%);
  }

  70% {
    background-image: linear-gradient(rgba($color-default-white, 70%) 50%, rgba($color-default-white, 70%) 50%);
  }

  80% {
    background-image: linear-gradient(rgba($color-default-white, 80%) 50%, rgba($color-default-white, 80%) 50%);
  }

  90% {
    background-image: linear-gradient(rgba($color-default-white, 90%) 50%, rgba($color-default-white, 90%) 50%);
  }

  100% {
    background-image: linear-gradient($color-default-white 50%, $color-default-white 50%);
  }
}

@keyframes gradientAnimationReverse {
  0% {
    background-image: linear-gradient($color-default-white 50%, $color-default-white 50%);
  }

  10% {
    background-image: linear-gradient(rgba($color-default-white, 90%) 50%, rgba($color-default-white, 90%) 50%);
  }

  20% {
    background-image: linear-gradient(rgba($color-default-white, 80%) 50%, rgba($color-default-white, 80%) 50%);
  }

  30% {
    background-image: linear-gradient(rgba($color-default-white, 70%) 50%, rgba($color-default-white, 70%) 50%);
  }

  40% {
    background-image: linear-gradient(rgba($color-default-white, 60%) 50%, rgba($color-default-white, 60%) 50%);
  }

  50% {
    background-image: linear-gradient(rgba($color-default-white, 50%) 50%, rgba($color-default-white, 50%) 50%);
  }

  60% {
    background-image: linear-gradient(rgba($color-default-white, 40%) 50%, rgba($color-default-white, 40%) 50%);
  }

  70% {
    background-image: linear-gradient(rgba($color-default-white, 30%) 50%, rgba($color-default-white, 30%) 50%);
  }

  80% {
    background-image: linear-gradient(rgba($color-default-white, 20%) 50%, rgba($color-default-white, 20%) 50%);
  }

  90% {
    background-image: linear-gradient(rgba($color-default-white, 10%) 50%, rgba($color-default-white, 10%) 50%);
  }

  100% {
    background-image: linear-gradient(rgba($color-default-white, 0%) 50%, rgba($color-default-white, 0%) 50%);
  }
}

// Viewports
// ---------------------------------

$vp-768:                            768px;
$vp-1280:                           1280px;
